.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-antenna {
  width: 0.9482421875em;
}

.icon-brand {
  width: 1.7666015625em;
}

.icon-company {
  width: 1.7666015625em;
}

.icon-company_th {
  width: 1.7666015625em;
}

.icon-foster_peters {
  width: 1.7666015625em;
}

.icon-mail {
  width: 1.3330078125em;
}

.icon-tag_line {
  width: 1.7666015625em;
}

.icon-tel {
  width: 0.625em;
}

.icon-ya_co {
  width: 1.7666015625em;
}

.icon-antenna1 {
  width: 0.9482421875em;
}

.icon-brand1 {
  width: 1.7666015625em;
}

.icon-company1 {
  width: 1.7666015625em;
}

.icon-company_th1 {
  width: 1.7666015625em;
}

.icon-foster_peters1 {
  width: 1.7666015625em;
}

.icon-tel1 {
  width: 0.625em;
}

.icon-antenna2 {
  width: 0.9482421875em;
}

.icon-brand2 {
  width: 1.7666015625em;
}

.icon-company2 {
  width: 1.7666015625em;
}

.icon-company_th2 {
  width: 1.7666015625em;
}

.icon-foster_peters2 {
  width: 1.7666015625em;
}

.icon-mail1 {
  width: 1.3330078125em;
}

.icon-tag_line1 {
  width: 1.7666015625em;
}

.icon-tel2 {
  width: 0.625em;
}

.icon-ya_co1 {
  width: 1.7666015625em;
}

.icon-antenna11 {
  width: 0.9482421875em;
}

.icon-brand11 {
  width: 1.7666015625em;
}

.icon-company11 {
  width: 1.7666015625em;
}

.icon-company_th11 {
  width: 1.7666015625em;
}

.icon-foster_peters11 {
  width: 1.7666015625em;
}

.icon-mail11 {
  width: 1.3330078125em;
}

.icon-tag_line11 {
  width: 1.7666015625em;
}

.icon-tel11 {
  width: 0.625em;
}

.icon-ya_co11 {
  width: 1.7666015625em;
}

.icon-antenna111 {
  width: 0.9482421875em;
}

.icon-brand111 {
  width: 1.7666015625em;
}

.icon-company111 {
  width: 1.7666015625em;
}

.icon-company_th111 {
  width: 1.7666015625em;
}

.icon-foster_peters111 {
  width: 1.7666015625em;
}

.icon-mail111 {
  width: 1.3330078125em;
}

.icon-tag_line111 {
  width: 1.7666015625em;
}

.icon-tel111 {
  width: 0.625em;
}

.icon-ya_co111 {
  width: 1.7666015625em;
}

.icon-antenna1111 {
  width: 0.9482421875em;
}

.icon-brand1111 {
  width: 1.7666015625em;
}

.icon-company1111 {
  width: 1.7666015625em;
}

.icon-company_th1111 {
  width: 1.7666015625em;
}

.icon-foster_peters1111 {
  width: 1.7666015625em;
}

.icon-mail1111 {
  width: 1.3330078125em;
}

.icon-tag_line1111 {
  width: 1.7666015625em;
}

.icon-tel1111 {
  width: 0.625em;
}

.icon-ya_co1111 {
  width: 1.7666015625em;
}

.icon-antenna11111 {
  width: 0.9482421875em;
}

.icon-brand11111 {
  width: 1.7666015625em;
}

.icon-company11111 {
  width: 1.7666015625em;
}

.icon-company_th11111 {
  width: 1.7666015625em;
}

.icon-foster_peters11111 {
  width: 1.7666015625em;
}

.icon-mail11111 {
  width: 1.3330078125em;
}

.icon-tag_line11111 {
  width: 1.7666015625em;
}

.icon-tel11111 {
  width: 0.625em;
}

.icon-ya_go {
  width: 1.7666015625em;
}
